<form action="/message" method="post">
  Insert message:
  <%= erb :form_partial %>
</form>

<% if @messages == [] %>
You don't have any messages yet!
<% else %>
<% @messages.reverse.each do |message| %>
<div id="message-#{message.id}">
  <%= message.created_at.strftime("at %I:%M%p on %m/%d/%Y") %>: <a href=<%="/messages/#{message.id}"%>><%= message.content[0..19] %></a>
  <% message.tags.each do |tag| %>
  <a class="badge badge-pill badge-info" href=<%="/tags/#{tag.id}/messages"%>><%= tag.tag_content %></a>
  <% end %>
  <form action="/messages/<%= message.id %>/tags" method="post">
    Add tag:
    <input type="text" name="tag_content"> <br>
    <input type="submit" value="Done" style="margin: 1em" class="btn btn-outline-secondary btn-sm">
  </form>
 <% end %>
</div>
<% end %>
